h1 {
	margin-bottom: 0;
	padding: 1rem !important;
}

.navbar {
	padding: 0;
}

.nav-link {
	color: #ffffff;
}

.nav-item.active > .nav-link {
	color: #000000;
}

body, wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}

.carbon {
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.outline {
	margin-bottom:0;
	
	color: white;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
}

/************/
blockquote{
	display:block;
	margin: 0px 50px 0px 50px;
	padding: 30px 30px 30px 50px;
	position: relative;
	text-align: justify;
	border-left: 15px solid #636363;
	border-right: 5px solid #636363;
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;
}

blockquote a{
	text-decoration: none;
	background: #eee;
	cursor: pointer;
	padding: 0 3px;
	color: #c76c0c;
}

blockquote a:hover{
	color: #666;
}

blockquote em{
	font-style: italic;
}