.nav-item.active {
	background-color: #bbbbbb;	
}

h1 {
	margin-bottom: 0;
	padding: 1rem !important;
}

.navbar {
	padding: 0;
}

.nav-link {
	color: #ffffff;
}

.nav-item.active > .nav-link{
	color: #000000;
}
