.nav-item.active {
	background-color: #999999;	
}

h1 {
	margin-bottom: 0;
	padding: 1rem !important;
}

.navbar {
	padding: 0;
}

.nav-link {
	color: #ffffff;
}

.nav-item.active > .nav-link {
	color: #000000;
}

body, wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}