<!---
@autor: Iago Alves
@versão: 1.0
--->
<!DOCTYPE html>
<html lang="pt">
	<head>
		
		<meta charset="utf-8">
		<!--- BOOTSTRAP --->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!--- METADADOS INFORMATIVOS --->
		<meta name="author" content="Iago Alves da Silva">
		<meta name="reply-to" content="el.iagows@gmail.com">
		<meta name="description" content="Site de divulgação de livros de autores brasileiros.">

		<link rel="stylesheet" href="{{ site.baseurl }}/css/fix.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/iaspp.css">

		<link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

		<title>{{ page.title }}</title>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="{{ site.baseurl }}">
					<img class="img-fluid iaspp-icon" src="{{ site.baseurl }}/img/logo.svg" alt="Home">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navBar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ site.baseurl }}">Home</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="livro">Livros <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="projects">Projects</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="wiki">Wiki</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="container" role="main">
			{{ content }}
		</main>
		<footer class="iaspp-footer">
			<div class="container-fluid">
				<span class="text-muted">
					copyleft <a href="http://www.wtfpl.net/" target="_blank">
						<img height="20px" src="{{ site.baseurl }}/img/cl.svg" alt="Copyleft"></a>
					<span>2020</span> - Não nos responsabilizamos pelo conteúdo de sites de terceiros.
				</span>
			</div>
		</footer>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>