<!DOCTYPE html>
<html lang="br">
	<head>

		<meta charset="utf-8">
		<!--- BOOTSTRAP --->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!--- METADADOS INFORMATIVOS --->
		<meta name="author" content="{{ site.author.name }}">
		<meta name="reply-to" content="{{ site.author.email }}">
		<meta name="description" content="{{ site.description }}">

		<link rel="stylesheet" href="css/fix.css">
		<link rel="stylesheet" href="css/iaspp.css">
		<link rel="stylesheet" href="/css/style.css">

		<title>{{ page.title }}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/contact.html">Contact</a>
				<a href="/about.html">About</a>
			</nav>
		</header>
		<h1>{{ page.title }}</h1>
		<section class="content">
			{{ content }}
		</section>
		<footer>
			<p>Last site update: {{ site.time }}.</p>
			<a href="http://www.wtfpl.net/" target="_blank"><img src="/img/cl.svg" alt="CopyLeft" width="20" /></a><span> 2020 - Não nos responsabilizamos pelo conteúdo de sites de terceiros.</span>
		</footer>
	</body>
</html>