---
layout: default
type: website
---
<br>
<div class="container">
	<div class="row no-gutters">
		<div class="col-md-4">
			<img src="/img/{{ page.cover }}" class="card-img rounded-iagows" alt="painting"/>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h2>by {{ page.author }}.</h2>
				{% if page.list %}
				<div class="card sombreado">
					<!-- carousel -->
				</div>
				{% endif %}
				{% if page.ref %}
				<div class="card sombreado">
					<img src="/img/{{ page.ref }}" class="card-img rounded-iagows" alt="original image">
				</div>
				{% endif %}
			</div>
			<button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
		</div>
	</div>
</div>